<footer class="text-center bg-light text-lg-start">
  <div class="container p-4">
    <div class="text-center d-flex justify-content-evenly">

      <div class="">
        <h5 class="text-uppercase">DigitalNation</h5>

        <p class="">
          1234 Street Name<br />
          City, AA 99999<br />
          Email: examplle.com<br />
          Phone: xxx-xxx-xxxx
        </p>
      </div>
      
      <div class="text-center">
        <h5 class="text-uppercase mb-0">Follow Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark"><i class="bi bi-facebook icon-feature2 text-dark"> </i> Facebook</a>
          </li>
          <li>
            <a href="#!" class="text-dark"><i class="bi bi-twitter icon-feature2"></i> Twitter</a>
          </li>
          <li>
            <a href="#!" class="text-dark"><i class="bi bi-instagram icon-feature2"></i> Instagram</a>
          </li>
          <li>
            <a href="#!" class="text-dark"><i class="bi bi-linkedin icon-feature2"></i> Linkedin</a>
          </li>
        </ul>
      </div>


    </div>
  </div>

  <div class="text-center p-3">
    © 2024 Copyright:
    <a class="text-dark" href="#!">DigitalNation.com</a>
  </div>
</footer>

