<footer class="text-center bg-light text-lg-start">
  <div class="container p-4">
    <div class="text-center d-flex justify-content-evenly">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">DigitalNation</h5>

        <p class="">
          1234 Street Name<br />
          City, AA 99999<br />
          Email: examplle.com<br />
          Phone: xxx-xxx-xxxx
        </p>
      </div>
      
      <div class="text-center col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Follow Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark"><i class="bi bi-facebook">Facebook</i></a>
          </li>
          <li>
            <a href="#!" class="text-dark"><i class="bi bi-twitter"></i> Twitter</a>
          </li>
          <li>
            <a href="#!" class="text-dark"><i class="bi bi-instagram"></i> Instagram</a>
          </li>
          <li>
            <a href="#!" class="text-dark"><i class="bi bi-linkedin"></i> Linkedin</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright:
    <a class="text-dark" href="#!">DigitalNation.com</a>
  </div>
</footer>

