<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-lg border-bottom fixed-top" id="mainNav">
    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand fw-bold align-self-center ms-3" href="#page-top"> DigitalNation </a>
      <div class="d-flex align-items-center">
        <button class="btn w-100 h-100 p-0" type="button" data-bs-toggle="modal" data-bs-target="#notificationsModal">
          <i class="bi bi-bell fs-6 icon-feature2"></i>
        </button>
        <div class="dropdown">
          <button
            class="btn icon-feature2 dropdown-toggle"
            type="button"
            id="userDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-gear fs-6"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
              <a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Configuración</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right"></i> Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav
        id="sidebarMenu"
        class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse position-fixed border-end"
        style="height: 100vh"
      >
        <div class="position-sticky pt-3 fixed-start">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <span data-feather="home"></span>
                Dashboard
              </a>
            </li>
            <!-- Agrega aquí más elementos del menú si es necesario -->
          </ul>
        </div>
      </nav>

      <!-- Main Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        >
          <h1 class="h2">Dashboard</h1>
        </div>

        <!-- Contenido principal -->
        <div>
          <!-- Aquí puedes agregar tu contenido principal -->

          <p>Contenido principal...</p>

          <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
              Hello, world! This is a toast message.
              <div class="mt-2 pt-2 border-top">
                <button type="button" class="btn btn-primary btn-sm">Take action</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button>
              </div>
            </div>
          </div>
          
        </div>
      </main>
    </div>
  </div>

</body>
